.left-video-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 10px;
  height: 150px;
  background-color: #141415;
  box-shadow: 0 0 10px 5px #000;
  color: #fff;
}
.play-icon {
  color: #fff;
  cursor: pointer;
}

.stop-icon {
  color: #fff;
  cursor: pointer;
}

.skip-icon {
  color: #fff;
  cursor: pointer;
}

.video-name-container h2 {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.video-list-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 10px;
  height: 350px;
  background-color: #141415;
  box-shadow: 0 0 10px 5px #000;
  color: #fff;
}

.video-list-container ul {
  cursor: pointer;
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

@media screen and (max-width: 800px) {
  .left-video-container {
    height: 100px;
  }
  .video-list-container {
    height: 230px;
  }
}
